/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 0;
}

.navbar-fixed-top {
    margin-bottom: 30px;
}

#flashMessage{
  text-align: center;
  font-size: 2rems;
  font-weight: 100;
}

ul.nav, .jumbotron h1 {
  font-family: 'Arvo', courier, serif;
  font-weight: 400;
}

ul.nav {
	font-size: 19px;
}


#get-involved {
	background-color: #f5f5f5;

}

.jumbotron {
	text-align: center;
	/* background-image: url(); */
	color: black;
    margin-bottom: 0;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.btn-lg {
	font-size: 36px;
}

div.col-md-8 p>a {
    color: #337ab7;
    text-align: center;
    padding-left: 207px;
    margin: auto;
    font-size: 4rem;
}

.homepage {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.homepage h2, .homepage h3 {
	color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
}

.homepage a {
	color: #e74c3c;
}

.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: .8;
}

.homepage hr {
	border-top: 1px solid #e74c3d;
	width: 160px;
	margin-top: 15px;
}

/* form */
form{
  margin-top: 0rem;
}

/* table */
.row{
  margin-top: 4rem;
}

/*footer*/
footer{
	background-color: #000000;
	color: #ffffff;
    margin-top: 30px;
    
}
footer a:hover {
	color: #0C1F38 !important;
	text-decoration: none;
	opacity: .8;
    border-radius: 5px;
}
footer ul.nav{
  text-align: center;
  padding-left: 95px;
}
footer h3{
	text-align: center;
}
footer .row .nav li>a{
	color: #ffffff;
}
footer .contact li{
	border-right: 1px solid #ffffff;
	text-decoration: none;
	text-decoration-color: grey;
}
footer li:last-child{
	border: none;
}

#newsletter{
	border-top: 1px dotted #dddddd;
	padding-top: 50px;
	padding-bottom: 50px;
}
#newsletter .btn{
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

/* Responsive Styling */

@media (max-width: 1199px) {

	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}

}

@media (max-width: 991px) {

	.jumbotron h1 {
		font-size: 44px;
	}

	.jumbotron p {
		padding: 0 10px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media (max-width: 767px) {

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

}
