<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EBONY HOSPITALS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">
  </head>
  <body>
    <!-- include the navbar in the body -->
    {% include 'includes/_navbar.html' %}
    <!-- wrap the body block in a container -->
    <!-- <div class="container"> -->
      <!-- the flash message should be after the navbar -->
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}

    <!-- </div> -->


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
  </body>
</html>
